extends layout

block content
  header
    img(alt=defaultData.logo.alt, title = defaultData.logo.title, src=defaultData.logo.src)
    ul
      for link in data.links
        li
          a(href=link.link)= link.text
    div#languages
      a(class=language === 'ru' ? 'active' : '', rel='alternate', href=defaultData.linkToRu) Ru
      span /
      a(class=language === 'ua' ? 'active' : '', rel='alternate', href=defaultData.linkToUa) Ua
  section(id='landing-page')
    h1= data.h1
    a.button-orange.contact-link(href=data.contactLink.link)= data.contactLink.text
    a#number(href=`tel:${data.contactInfo.numbers[0].replace(' ', '')}`)= data.contactInfo.numbers[0]
  section#why-us
    h2= data.whyUs.title
    ul.w80
      for benefit in data.whyUs.benefits
        li
          img(alt='benefit', title=benefit.img.title, src=benefit.img.src)
          label(for='benefit')= benefit.title
          p= benefit.text
  section#services
    div
      span= data.services.subTitle
      h2= data.services.title
      p= data.services.textLeft
    div
      p= data.services.textRight
      div#contact-block
        for p in data.services.ps
          p= p
        a.button-orange.contact-link(href=data.contactLink.link)= data.contactLink.text

  section#about-us
    h2= data.aboutUs.title
    p= data.aboutUs.text

  section#contacts
    div
      ul
        li !{data.contactInfo.address}
        li#email= data.contactInfo.email
        for number in data.contactInfo.numbers
          li.number=number
  section#contact-us
    form.w80
      input.blue-textfield(required=true, placeholder=data.namePlaceHolder, name='name')
      input.blue-textfield(required=true, placeholder=data.numberPlaceHolderm, name='number')
      textarea.blue-textfield(required=true, name='message', placeholder=data.messagePlaceHolder)
      button.button-orange(type='submit')= data.submitText
  footer © 1823 — 2016 Great Simple Studio

